.house_1_1{
	width: 0; height: 0;
	border-left: 108px solid transparent;
	border-right: 108px solid transparent;
	border-bottom: 100px solid #24375B;
	position: absolute;
	z-index: 2;
}

.house_1_1_1{
	width: 20px; height: 65px;
	top: 43px; left: 35px;
	background-color: #72491D;
	position: absolute;
	z-index: 1;
}

.house_1_2{
	width: 200px; height: 150px;
	background-color: #72491D;
	top: 0; left: 15px;
	position: absolute;
	top: 108px;
	z-index: 2;
}

.house_1_3{
	width: 60px; height: 65px;
	background-color: #B0CBD4;
	top: 3px; left: 68px;
	position: absolute;
	z-index: 3;
}

.house_1_3_1{
	width: 25px; height: 55px;
	top: 0px; left: 50%;
	position: absolute;
	border-left: 3px solid #803C1E;
	border-right: 3px solid #803C1E;
	border-top: 5px solid #803C1E;
	border-bottom: 5px solid #803C1E;
	z-index: 4;
}

.house_1_3_2{
	width: 25px; height: 25px;
	top: 0px; left: 0px;
	position: absolute;
	border-left: 3px solid #803C1E;
	border-right: 3px solid #803C1E;
	border-top: 5px solid #803C1E;
	border-bottom: 5px solid #803C1E;
	z-index: 4;
}

.house_1_3_3{
	width: 25px; height: 22px;
	top: 50%; left: 0px;
	position: absolute;
	background: #8B5F32;
	border-left: 3px solid #803C1E;
	border-right: 3px solid #803C1E;
	border-top: 5px solid #803C1E;
	border-bottom: 5px solid #803C1E;
	z-index: 4;
}

.house_1_7{
	width: 100px; height: 30px;
	background-color: #071850;
	top: 37px; left: 48px;
    opacity: 0.5;
	position: absolute;
	z-index: 4;
}

.house_1_7_1{
	width: 90px; height: 30px;
	top: 37px; left: 48px;
	position: absolute;
	border-left: 5px solid #2A1704;
	border-right: 5px solid #2A1704;
	border-bottom: 4px solid #2A1704;
	z-index: 5;
}

.house_1_8{
	width: 40px; height: 70px;
	top: 77px; left: 128px;
	background: #2F130A;
	position: absolute;
	z-index: 3;
}

.house_1_8_1{
	width: 15px; height: 15px;
	top: 8px; left: 13px;
	background-color: #B0CBD4;
	border-radius: 50%;
	position: absolute;
	z-index: 4;
}

.house_1_9{
	width: 42px; height: 35px;
	top: 78px; left: 31px;
	position: absolute;
	background-color: #B0CBD4; 
	border-left: 5px solid #2F130A;
	border-right: 5px solid #2F130A;
	border-top: 3px solid #2F130A;
	border-bottom: 3px solid #2F130A;
	z-index: 3;
}